<ion-header>
  <ion-navbar>
    <ion-title>
      Photos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let photo of photos">
    <img src="{{endpoint}}/api/download/{{photo._id}}" />
    
    <ion-row>
      <ion-col col-8 text-wrap>
        <button ion-button icon-start clear small>
          <div>{{photo.challenge.name}}</div>
        </button>
      </ion-col>
      <ion-col col-4 right text-right  text-wrap>
        <ion-note>
          {{photo.user}}<br/>{{photo.dateCreated | date:'dd-MM-yyyy HH:mm' }}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>

  <button ion-button full (click)='loadPhotos(next)' *ngIf="hasNext">Page suivante</button>
</ion-content>
